<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <footer>
      <div class="footer-content">
        <h3>Cloud Project</h3>
        <p>
          Email: shahzadalifccu@gmail.com Address: Faisal Garden, Lahore Phone
          No. +923491234420
        </p>
        <ul class="socials">
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-google-plus"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-youtube"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa fa-linkedin-square"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>
          copyright &copy;2022 Shahzad Ali. Developed by
          <span>Shahzad Ali</span>
          <a href="#"
            ><i
              class="fa fa-arrow-circle-o-up"
              style="font-size: 36px; margin-left: 90%; color: white"
            ></i
          ></a>
        </p>
      </div>
    </footer>
  </body>
</html>
